// # Main Scss File

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: primary;
}

@charset "UTF-8";
//Fonts
@import '../assets/fonts/fonts';
//Imports
@import './imports/directory';
//Material.Angular styles
@import '~@angular/cdk/overlay-prebuilt.css';
