<!--Mat Theme Wrapper, for toggling light-mode-->
<div [ngClass]="{ 'theme-dark': isDarkTheme | async }">
	<!--Mat theme wrapper, for background coloring-->
	<div class="mat-typography">
		<div class="mat-app-background">
			<!-- Toolbar / Navbar (with ROUTER OUTLET inside)[openedSubject]="openedSubject"-->
			<app-sidenav> </app-sidenav>
			<!--testing firebase example
			<ul>
				<li class="text" *ngFor="let item of items | async">
					{{ item.name }}
				</li>
			</ul>-->
		</div>
	</div>
</div>
