.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: .5rem 0 1rem
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 2rem;
  color: accent;
}

.custom-list-item h5 {
  margin: 0;
  padding: 0;
}

.custom-list-span {
  margin-top: 8px; 
}
