<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" position="end" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      {{title}}
    </mat-toolbar>
    <mat-nav-list>
      <span>
        <a mat-list-item routerLinkActive="active" [routerLink]="[ '/home' ]">
        <mat-icon>home</mat-icon>
        <span> &nbsp; &nbsp; Home</span>
        </a>
      </span>
      <span>
        <a mat-list-item routerLinkActive="active" [routerLink]="[ '/about' ]">
        <mat-icon>home</mat-icon>
        <span> &nbsp; &nbsp; About Us</span>
        </a>
      </span>
      <span>
        <a mat-list-item routerLinkActive="active" [routerLink]="[ '/projects' ]">
        <mat-icon>home</mat-icon>
        <span> &nbsp; &nbsp; View Our Work</span>
        </a>
      </span>
      <span>
        <a mat-list-item routerLinkActive="active" [routerLink]="[ '/contact' ]">
        <mat-icon>home</mat-icon>
        <span> &nbsp; &nbsp; Contact Us</span>
        </a>
      </span>
      <span>
        <a mat-list-item routerLinkActive="active" [routerLink]="[ '/financing' ]">
        <mat-icon>home</mat-icon>
        <span> &nbsp; &nbsp; Financing</span>
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"
        position="end">menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
