.login-card-xs {
  min-width: 250px;
  width: 100% !important;
}
.login-card-ltm {
  min-width: 350px;
  width: 100% !important;
}
.login-card-gts {
  min-width: 600px;
  width: 50% !important;
}

#google_btn {
  width: 100%;
}
.center {
  display:inline-flex !important;
  justify-content: center !important;
}