@import '../../../styles/styles';

.mcard#aboutKGR {
  background-image: url("/assets/bg/bg-gr-rbl-blk.svg");
  background-size: cover;
}
.mcard-header-img#aboutKGRAvatar {
  background-image: url("/assets/branding/KG_Roofing_logo_RND1.svg");
  margin-right: 1rem;
}
#aboutKGRCard {
  // margin:2rem 1rem;
  // padding:1rem 2rem;
  padding: 0 16px 16px 16px;
  background-image: url("/assets/bg/bg-gr-rbl-blk.svg");
  background-size: cover;
  // background-color: #212131;
  mat-card-title {
    padding-left: 1rem;
  }
  .caption-btm {
    position: absolute;
    bottom: -.88rem;
  }
}
#aboutKGRstory {
  padding-top: 1rem;
  background-color: transparent;
  border: solid $neon-aqua;
  mat-card-subtitle {
    color: $neon-aqua;
  }
}

// Services Card

#servicesListHeader {
  background-image: url("/assets/bg/bg-gr-blk-ltr.svg");
  background-size: cover;
  margin: -1rem -1rem 2rem -1rem;
  padding: 1rem 1rem 0 1rem;
}
.mcard-header-img-48#servicesAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-service.svg");
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#lists-footer {
  padding: 1rem;
  background-image: url("/assets/bg/bg-gr-blk-ltr.svg");
  background-size: cover;
}
#mcardBorder {
  border: solid;
}

// Roof Types Card
.mcard-header-img-48#roofTypesAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-roof-types.svg");
  margin-right: 1rem;
  margin-bottom: 1rem;
}

// Products Card
.mcard-header-img-48#productsListAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-products.svg");
  margin-right: 1rem;
  margin-bottom: 1rem;
}

// Brands & Licenses Card

#brandsLicensesHeader {
  background-image: url("/assets/bg/bg-gr-blk-ltr.svg");
  background-size: cover;
  margin: -1rem -1rem 0rem -1rem;
  padding: 1rem 1rem 0 1rem;
  mat-card-title {
    @include mat-typography-level-to-styles($custom-heading-typography, display-1);
  }
  mat-card-subtitle {
    @include mat-typography-level-to-styles($custom-heading-typography, title);
    color: whitesmoke;
    font-style: $obli;
  }
}
.mcard-header-img-48#brandsLicensesAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-vendor.svg");
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#vendorToolbar {
  background-color: transparent;
  width: calc(100% + 32px);
  margin: 0 -16px;
  padding: 0;
  height: auto;
  background-position: center center;
  background-size: cover;
}
#vendorToolbarRow {
  height: auto;
  p {
    margin: .75rem 0rem .25rem 0rem;
  }
  span {
    line-height: 1;
  }
}
#vendorLogo {
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 0;
  margin: 0;
  img {
    max-height: 15rem;
  }
}
