<!--card: About-->
<mat-card id="aboutKGR" class="mcard">
	<mat-card-header>
		<i mat-card-avatar id="aboutKGRAvatar" class="mcard-header-img"></i>
		<mat-card-title class="display-3">About KG Roofing</mat-card-title>
		<mat-card-subtitle>
			<h3 class="obl goldBold">Professional, Trustworthy, Competent.</h3>
		</mat-card-subtitle>
	</mat-card-header>
	<div class="caption-wrap">
		<img
			mat-card-image
			src="/assets/img/about/kg_roofing_kyle_grell_ppe_safe_worksite_3541.jpg"
			alt="KG Roofing worksite with owner Kyle Grell foreground, roofing crew on building background."
		/>
		<div class="caption-btm">
			KG Roofing worksite with owner Kyle Grell foreground, roofing crew on building
			background.
		</div>
	</div>
	<!--text-->
	<mat-card-content>
		<div
			class="flex-container"
			fxLayout="row"
			fxLayout.xs="column"
			fxLayoutGap="16px"
			fxLayoutAlign="space-between"
		>
			<div fxFlex.gt-xs="60%" fxLayoutAlign="stretch">
				<mat-card id="aboutKGRstory">
					<mat-card-title>
						Origins
					</mat-card-title>
					<mat-card-subtitle>
						Raised On Roofing
					</mat-card-subtitle>
					<mat-card-content>
						<p>
							KG Roofing is named after owner Kyle Grell. Kyle spent years learning the
							roofing trades while working for a family business, eventually deciding to
							start his own venture.
						</p>
						<mat-card-subtitle>
							Experience
						</mat-card-subtitle>
						<p>
							KG Roofing has the expertise to seam-weld membranes on an enormous factory
							roof one day, then turn around a single-family tear off & re-shingle the
							next. This versatility comes with professionalism; meaning KG works hard,
							safely, and runs a tidy worksite with cleanup.
						</p>
						<mat-card-subtitle>
							Professionalism
						</mat-card-subtitle>
						<p>
							This professionalism extends to working with customers: from understanding
							what the job requires, to ensuring it's all done to satisfaction.
							<a
								class="goldBold nodec"
								title="Go to Contact page"
								[routerLink]="['/contact']"
								><span>Call KG</span> </a
							>, we're easy and honest to deal with.
						</p>
					</mat-card-content>
				</mat-card>
			</div>
			<div fxFlex.gt-xs="40%">
				<mat-card id="aboutKGRCard" [class.mat-elevation-z8]>
					<div class="caption-wrap">
						<img
							mat-card-image
							src="/assets/img/personnel/that_is_kyle_grell.jpg"
							alt="KG Roofing owner Kyle Grell with wife, Autumn, getting ready for a parade"
						/>
						<div class="caption-btm">
							Kyle and crew preparing for a parade.
						</div>
					</div>
					<mat-card-content>
						<mat-card-title class="obl display-3 pt2 pb">KG Roofing</mat-card-title>
						<mat-divider></mat-divider>
						<mat-card-title class="obl display-3 goldBold pt2 pb"
							>Professional,</mat-card-title
						>
						<mat-card-title class="obl display-3 goldBold pt pb"
							>Trustworthy,</mat-card-title
						>
						<mat-card-title class="obl display-3 goldBold pt pb2"
							>Competent.</mat-card-title
						>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</mat-card-content>
	<!--footer-->
	<mat-card-footer>
		<span class="spacer">&nbsp;</span>
	</mat-card-footer>
</mat-card>

<!--Brands & Licenses List-->
<mat-card class="mcard lt lr lb ll" id="#mcardBorder">
	<mat-card-header
		fxLayout="column"
		fxLayoutAlign="center start"
		id="brandsLicensesHeader"
		class="lb"
	>
		<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
			<i mat-card-avatar id="brandsLicensesAvatar" class="mcard-header-img-48"></i>
			<mat-card-title class="gold">
				Brands & Licenses
			</mat-card-title>
		</div>
		<div class="pl">
			<mat-card-subtitle>
				Quality products and manufacturers we’re proud to carry and/or have exclusive
				license contracts with
			</mat-card-subtitle>
		</div>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let product of products">
				<mat-divider></mat-divider>
				<mat-icon matListIcon>stars</mat-icon>
				<p matLine>
					<span> {{ product.name }} </span>
					<span class="orange"> {{ product.description }} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-footer id="lists-footer"> </mat-card-footer>
</mat-card>

<!--Services List-->
<mat-card class="mcard lt lr lb ll" id="#mcardBorder">
	<mat-card-header id="servicesListHeader" class="lb">
		<i mat-card-avatar id="servicesAvatar" class="mcard-header-img-48"></i>
		<mat-card-title>
			Services
		</mat-card-title>
		<mat-card-subtitle>
			KG Roofing Services List
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let service of services">
				<mat-divider></mat-divider>
				<mat-icon matListIcon>stars</mat-icon>
				<p matLine>
					<span> {{ service.name }} </span>
					<span class="orange"> {{ service.acronym }} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-footer id="lists-footer">
		<!-- 		<mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
			<div fxLayout="row">
				<span class="spacer">&nbsp;</span>
				<a
					fxFlexAlign="end space-around"
					routerLinkActive="active"
					[routerLink]="['/about']"
					id="inspectBtn"
					mat-stroked-button
					>&nbsp;&nbsp; ABOUT US &nbsp;&nbsp;
				</a>
			</div>
		</mat-card-actions> -->
	</mat-card-footer>
</mat-card>

<!--Roof Types List-->
<mat-card class="mcard lt lr lb ll" id="#mcardBorder">
	<mat-card-header id="servicesListHeader" class="lb">
		<i mat-card-avatar id="roofTypesAvatar" class="mcard-header-img-48"></i>
		<mat-card-title>
			Roof Types
		</mat-card-title>
		<mat-card-subtitle>
			Roof Types We Build and Repair
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let roofType of roofTypes">
				<mat-divider></mat-divider>
				<mat-icon matListIcon>stars</mat-icon>
				<p matLine>
					<span> {{ roofType.name }} </span>
					<span class="orange"> {{ roofType.description }} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-footer id="lists-footer"> </mat-card-footer>
</mat-card>

<!--Products List-->
<mat-card class="mcard lt lr lb ll" id="#mcardBorder">
	<mat-card-header id="servicesListHeader" class="lb">
		<i mat-card-avatar id="productsListAvatar" class="mcard-header-img-48"></i>
		<mat-card-title>
			Products
		</mat-card-title>
		<mat-card-subtitle>
			Products We're Experts at Installing
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-list>
			<mat-list-item *ngFor="let product of products">
				<mat-divider></mat-divider>
				<mat-icon matListIcon>stars</mat-icon>
				<p matLine>
					<span> {{ product.name }} </span>
					<span class="orange"> {{ product.description }} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-footer id="lists-footer"> </mat-card-footer>
</mat-card>
