// variables
$mat-card-avatar-ht: 88px;
$mat-card-avatar-wd: 88px;

.card-hdr-img {
  background-image: url('../../assets/branding/KG_Roofing_logo_RND1.svg');
  background-size: cover;
}

.mat-card-avatar { 
  transform: translateY(-25%);
  height: $mat-card-avatar-ht;
  width: $mat-card-avatar-wd;
  z-index: 8;
  box-shadow: -.25rem .25rem .25rem rgb(22, 22, 22);
}

.card-action {
  padding: 0 2rem;
}

.gold {
  border-width: 2px;
  border-color: #F2C94C;
}