
<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar class="card-hdr-img">
    <mat-card-title>
      Protect Your Home or Business
    </mat-card-title>
    <mat-card-subtitle>
      ​PUTTING A ROOF OVER YOUR HEAD IS THE MOST IMPORTANT THING YOUR HOME DOES
    </mat-card-subtitle>
	</mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a roof that KG Roofing fixed">

  <mat-card-content>
    <!--content-->
    <p>
      Knowing if your roof is sound is a homeowner's responsibility, yet many homeowners neglect their roofs. Like everything in your home, it requires maintenance.
    </p>
    <p>
      Maintaining your roof is a low-cost way of ensuring your home and family, employees or residents, all stay safe and comfortable.
    </p>
  </mat-card-content>
  <mat-card-content>
  <div fxLayout="row" >
    <div fxFlexLayout="row wrap">
      <mat-grid-list cols="2" rowHeight="1.125em">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">
            <mat-icon>{{tile.icon}}</mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div [fxFlex]>
      <h4>
        If you haven't had your roof inspected recently, we're here to help.
      </h4>
  </div>
  </div>
  </mat-card-content>

  <mat-card-actions align="end" class="card-action">
    <!--for buttons-->
      <a mat-stroked-button color="accent" class="gold"
      [routerLink]="[ '/contact' ]">
      Call Us</a>
  </mat-card-actions>

  <mat-card-footer>
    <!--footer stuff-->
    <p>footer stuff</p>
  </mat-card-footer>
</mat-card>