<div style="width: 400px; margin: auto;">
	<div *ngIf="currentProject" class="edit-form">
		<h4>Project</h4>
		<form>
			<div class="form-group">
				<label for="title">Title</label>
				<input
					type="text"
					class="form-control"
					id="title"
					[(ngModel)]="currentProject.title"
					name="title"
				/>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input
					type="text"
					class="form-control"
					id="description"
					[(ngModel)]="currentProject.description"
					name="description"
				/>
			</div>

			<div class="form-group">
				<label><strong>Status:</strong></label>
				{{ currentProject.published ? 'Published' : 'Pending' }}
			</div>
		</form>

		<button
			class="badge badge-primary mr-2"
			*ngIf="currentProject.published"
			(click)="updatePublished(false)"
		>
			UnPublish
		</button>
		<button
			*ngIf="!currentProject.published"
			class="badge badge-primary mr-2"
			(click)="updatePublished(true)"
		>
			Publish
		</button>

		<button class="badge badge-danger mr-2" (click)="deleteProject()">
			Delete
		</button>

		<button type="submit" class="badge badge-success" (click)="updateProject()">
			Update
		</button>
		<p>{{ message }}</p>
	</div>

	<div *ngIf="!currentProject">
		<br />
		<p>Cannot access this Project...</p>
	</div>
</div>
