<!-- Icon info: https://material.io/resources/icons/?search=dark&icon=art_track&style=baseline
-->

<mat-sidenav-container class="sidenav-container" fullscreen>
	<mat-sidenav
		#drawer
		class="sidenav"
		position="end"
		[attr.role]="
			(isExtraSmall$ | async) || (isSmall$ | async) || (isTablet$ | async)
				? 'dialog'
				: 'navigation'
		"
		[mode]="
			(isExtraSmall$ | async) || (isSmall$ | async) || (isTablet$ | async)
				? 'over'
				: 'side'
		"
		[opened]="(isSmall$ | async) ? 'false' : 'false'"
	>
		<!--" ? 'false':'false' " >> keeps side drawer closed both on small and large viewports (else it opens as sidenav on tablet+ size screens). To leave open on large screens, change back to " === 'false' " or maybe " ? 'false' : 'true' " -->
		<mat-toolbar [class.mat-elevation-z80]
			>Menu
			<span class="spacer"></span>
			<div fxLayout="column" fxLayoutAlign="flex-end">
				<h5 class="custom-list-item" id="nav-slogan">
					The experts you can trust, &nbsp;
				</h5>
				<h5 class="custom-list-item" id="nav-slogan">
					The quality you can count on!
				</h5>
			</div>
		</mat-toolbar>
		<mat-divider></mat-divider>
		<mat-nav-list>
			<!-- 			<a
				*ngFor="let link of navItems"
				mat-list-item
				(click)="drawer.toggle()"
				[routerLink]="link.path"
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="active-link"
			>
				<mat-icon>{{ link.icon }}</mat-icon>
				<span> &nbsp; &nbsp; {{ link.title }}</span>
			</a> -->

			<a
				mat-list-item
				[routerLink]="['/home']"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
			>
				<mat-icon>home</mat-icon>
				<span> &nbsp; &nbsp; Home</span>
			</a>
			<a
				mat-list-item
				[routerLink]="['/about']"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
			>
				<mat-icon>assignment</mat-icon>
				<span> &nbsp; &nbsp; About Us</span>
			</a>
			<!-- 			<a
				mat-list-item
				routerLinkActive="active-link"
				[routerLink]="['/project']"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
			>
				<mat-icon>business</mat-icon>
				<span> &nbsp; &nbsp; View Our Work</span>
			</a> -->
			<a
				mat-list-item
				[routerLink]="['/contact']"
				routerLinkActive="active-link"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
			>
				<mat-icon>call</mat-icon>
				<span> &nbsp; &nbsp; Contact Us</span>
			</a>
			<!-- 			<a
				mat-list-item
				routerLinkActive="active-link"
				[routerLink]="['/blogs']"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="drawer.toggle()"
			>
				<mat-icon>art_track</mat-icon>
				<span> &nbsp; &nbsp; Blog</span>
			</a> -->
			<!-- 
			<div mat-list-item-content>
				<div class="flex-container" fxLayout="row">
					<div fxFlex="50%">
						<a mat-list-item>
							<mat-icon>
								settings_brightness
							</mat-icon>
							<span>&nbsp; &nbsp; Theme &nbsp; &nbsp; </span>
						</a>
					</div>
					<div fxFlex="50%" class="custom-list-item">
						<a mat-list-item>
							<div fxLayout="column" fxLayoutAlign="center" fxFlex="100%">
								<div fxLayout="row" fxLayoutAlign="space-between center">
									<div fxFlex="100%" fxLayoutGap="8px" fxFlexAlign="center">
										<mat-icon>
											brightness_3
										</mat-icon>
										<mat-slide-toggle
											[checked]="isDarkTheme | async"
											labelPosition="after"
											(change)="toggleDarkTheme($event.checked)"
										></mat-slide-toggle>
										<mat-icon>
											brightness_5
										</mat-icon>
									</div>
								</div>
								<div fxFlex fxFlexAlign="space-between center">
									<h5>dark or light</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
 -->

			<mat-list-item>
				<a href="tel:+1-515-955-2061" mat-raised-button color="primary">
					<mat-icon inline="true">call</mat-icon> &nbsp; Click to Call
				</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<!--start top toolbar-->
	<mat-sidenav-content fxLayout="column">
		<mat-toolbar
			id="top-toolbar"
			class="position-fixed"
			[class.mat-elevation-z70]
			color="primary"
		>
			<!--centering for lg screens using 3 flex divs + fx div container & toolbar row goes in center div w/max-width -->
			<div
				id="top-toolbar-fullwidth"
				class="flex-container"
				fxLayout="row"
				fxLayoutAlign="space-around center"
			>
				<!-- <div fxFlex></div> -->
				<div class="ctr-lg-max-container" fxFlex>
					<div class="mat-toolbar-row">
						<a id="nav-logo-link" [routerLink]="['/home']">
							<img class="nav-logo" src="../../assets/branding/branding.svg" />
						</a>

						<div fxFlexAlign="start center" fxHide.lt-sm="true">
							<div fxFlexAlign="center">
								<a
									href="tel:+1-515-955-2061"
									mat-raised-button
									id="nav-phone-btn"
									color="primary"
								>
									<mat-icon inline="true" fxHide.lt-sm="true" id="nav-phone-icon"
										>call</mat-icon
									>515-955-2061
								</a>
							</div>
							<div fxFlex fxHide.lt-sm="true">
								<h5 class="custom-list-item" id="nav-slogan">
									The experts you can trust, &nbsp;
								</h5>
								<h5 class="custom-list-item" id="nav-slogan">
									The quality you can count on!
								</h5>
							</div>
						</div>
						<span class="spacer"></span>

						<!--see this video for adding dropdowns:  https://www.youtube.com/watch?v=08svzu9JGNM -->

						<div fxShow="true" fxHide.lt-md="true">
							<!-- The following menu items will be hidden on both SM and XS screen sizes -->
							<a
								[routerLink]="['/about']"
								routerLinkActive="active-link"
								[routerLinkActiveOptions]="{ exact: true }"
								mat-button
								>About Us</a
							>
							<a
								[routerLink]="['/contact']"
								routerLinkActive="active-link"
								[routerLinkActiveOptions]="{ exact: true }"
								mat-button
								>Contact Us</a
							>
							<!-- <a
								[routerLink]="['/blogs']"
								routerLinkActive="active-link"
								[routerLinkActiveOptions]="{ exact: true }"
								mat-button
								>Blog</a
							> -->
						</div>

						<!-- sidenav toggle -->
						<!-- put this in the button to make it disappear on larger screens 
						*ngIf="(isExtraSmall$ | async) || (isSmall$ | async) || (isTablet$ | async)" -->
						<button
							fxFlexAlign="center end"
							type="button"
							aria-label="Toggle sidenav"
							mat-icon-button
							(click)="drawer.toggle()"
						>
							<mat-icon aria-label="Side nav toggle icon" position="end">menu</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-toolbar>
		<!-- wrap content for margin -->
		<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
			<div class="content" fxFlex>
				<!-- so routed content scrolls to top:  (activate)="onActive()" -->
				<router-outlet (activate)="onActivate($event)">
					<!-- all router-outlet content shows here -->
				</router-outlet>
			</div>
		</div>
		<!-- footer -->
		<footer fxFlexOffset="auto">
			<div
				class="content"
				[ngClass.xs]="['brkwrd', 'mat-white-space-normal', 'xsp']"
				fxLayout="column"
				fxLayoutAlign="center space-around"
			>
				<mat-toolbar>
					<mat-toolbar-row class="lb">
						<div class="pb">
							<div>
								<img
									class="mr pr"
									src="./assets/branding/branding.svg"
									alt="KG Roofing Logo"
								/>
							</div>
							<div
								fxHide.xs
								class="pb"
								fxLayout="column"
								fxLayoutAlign="start space-around"
							>
								<h1>KG Roofing</h1>
								<h5 class="custom-list-item" id="nav-slogan">
									The experts you can trust, &nbsp;
								</h5>
								<h5 class="custom-list-item" id="nav-slogan">
									The quality you can count on!
								</h5>
							</div>
						</div>

						<div fxHide.gt-xs class="pb">
							<div class="pb" fxLayout="column" fxLayoutAlign="start space-around">
								<h1>KG Roofing</h1>
								<h5 class="custom-list-item" id="nav-slogan">
									The experts you can trust, &nbsp;
								</h5>
								<h5 class="custom-list-item" id="nav-slogan">
									The quality you can count on!
								</h5>
							</div>
						</div>
					</mat-toolbar-row>

					<mat-toolbar-row class="pt pb">
						<div
							class="pr lr"
							fxLayout="column"
							fxLayoutAlign="start space-around"
							fxflex.xs="50%"
						>
							<h3>Phone:</h3>
							<mat-divider></mat-divider>
							<p class="pb">
								<a class="nodec" title="Call KG Roofing" href="tel:+1-515-955-2061"
									>515-955-2061</a
								>
							</p>
							<h3>Email:</h3>
							<mat-divider></mat-divider>
							<p class="pb">
								<a title="email KG Roofing" href="mailto:kgrell@kgroofingiowa.com"
									>kgrell @ kgroofing iowa.com</a
								>
							</p>
							<h3>Address:</h3>
							<mat-divider></mat-divider>
							<p class="nmb npb">KG Roofing, LLC</p>
							<p class="nmb npb">1824 1st Ave S.</p>
							<p>Fort Dodge, IA 50501</p>
						</div>
						<div fxLayout="column" fxLayoutAlign="start space-around" fxFlex.xs="45%">
							<mat-nav-list fxLayout="column" fxLayoutAlign="center space-around">
								<a
									mat-list-item
									routerLinkActive="active-link"
									[routerLink]="['/home']"
									[routerLinkActiveOptions]="{ exact: true }"
									><span> &nbsp; &nbsp; Home</span>
								</a>
								<a
									mat-list-item
									routerLinkActive="active-link"
									[routerLink]="['/about']"
									[routerLinkActiveOptions]="{ exact: true }"
									><span> &nbsp; &nbsp; About</span>
								</a>
								<a
									mat-list-item
									routerLinkActive="active-link"
									[routerLink]="['/contact']"
									[routerLinkActiveOptions]="{ exact: true }"
									><span> &nbsp; &nbsp; Contact</span>
								</a>
							</mat-nav-list>
						</div>
					</mat-toolbar-row>
					<mat-toolbar-row class="pt lt">
						<p>© KG Roofing &nbsp; &nbsp; | &nbsp; &nbsp;</p>
						<p>
							<a href="https://krisbunda.com/blog/about/" target="_blank"
								>Web App by KBD</a
							>
						</p>
					</mat-toolbar-row>
				</mat-toolbar>
			</div>
		</footer>
	</mat-sidenav-content>
</mat-sidenav-container>
