@import '../../../styles/styles';

// variables
$nav-logo-max-ht:80px;

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 300px;
  box-shadow: 0.5rem 0 1rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 80;

}

.spacer {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 2rem;
  color: primary;
}

#top-toolbar {
  box-shadow: 0 .25rem 2rem 0 #777777;
}

// small type in theme switch toggle in nav drawer
.custom-list-item h5 {
  margin: 0;
  padding: 0;
}

.custom-list-span {
  margin-top: 8px;
}

.overlay {
  z-index: 7;
  background-color: primary;
}

.content {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: flex;
}

.nav-logo {
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  height: $nav-logo-max-ht;
  z-index: 9;
}

#nav-logo-link {
  padding-left: 0;
  margin: 0 1em 0 0;
}
// nav bar flex items
%nav-msg {
  font-size: 1em; 
  color: accent;
  margin: 0;
  padding: 0;
  line-height: 1.125em;
}

#nav-phone {
  @extend %nav-msg;
  text-decoration: none;
  margin: 0;
}
#nav-phone-btn {
  max-height: 1.75em;
  padding: .25em .5em;
  line-height: 1.25em;
  font-size: 1em;
  margin: 0 1em 0 0;
  border-width: 2px;
  border-color: mat-color($accent, darker);
}
#nav-phone-icon {
  @extend %nav-msg;
  //color: accent;
  font-size: 1em;
  margin-right: .5em;
  margin-bottom: .125em;
}
#nav-slogan {
  @extend %nav-msg;
  color:primary;
  // font
  font-style: $ital;
  font-variant: $ligs;
  font-weight: $light;
  font-size: $font-sm;
  line-height: $title-line-ht;
  font-family: $title-font;
}
