<body fxFlexFill>
	<div fxLayout="column" fxFlex.xs="400px" fxFlex.sm="500px" fxFlex.gt-sm="800px">
		<mat-card class="mcard lt lr lb ll" id="#mcardBorder">
			<mat-card-header id="servicesListHeader" class="lb">
				<mat-card-title>
					Google Drive
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<br />
				<mat-nav-list>
					<a
						mat-list-item
						routerLinkActive="active"
						routerLink="drive-upload"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<mat-icon>upload_file</mat-icon>
						<span> &nbsp; &nbsp; Upload File</span>
					</a>
					<a
						mat-list-item
						routerLinkActive="active"
						routerLink="drive-read"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<mat-icon>local_library</mat-icon>
						<span> &nbsp; &nbsp; Browse Drive</span>
					</a>
				</mat-nav-list>
			</mat-card-content>
		</mat-card>

		<!-- add these google api scripts that child pages use -->
		<!-- 		<script
			async
			defer
			src="https://accounts.google.com/gsi/client"
			onload="gisLoaded()"
		></script>
		<script
			async
			defer
			src="https://apis.google.com/js/api.js"
			onload="gapiLoaded()"
		></script> -->
		<!-- lazy-loading router outlet for Drive child pages -->

		<router-outlet></router-outlet>
	</div>
</body>
