<mat-carousel
	timings="250ms ease-in"
	[autoplay]="true"
	interval="4000"
	color="accent"
	maxWidth="auto"
	proportion="50"
	slides="5"
	[loop]="true"
	[hideArrows]="false"
	[hideIndicators]="false"
	[useKeyboard]="true"
	[useMouseWheel]="true"
	orientation="ltr"
>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_after.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_after.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_after.jpg"
	></mat-carousel-slide>
</mat-carousel>

<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Shiba Inu</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
	<img
		mat-card-image
		src="https://material.angular.io/assets/img/examples/shiba2.jpg"
		alt="Photo of a Shiba Inu"
	/>
	<mat-card-content>
		<p>
			The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
			from Japan. A small, agile dog that copes very well with mountainous terrain, the
			Shiba Inu was originally bred for hunting.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>
