@import '../../../styles/styles';

.mcard#inspect {
  background-image: url("/assets/bg/bg-gr-nbl-ltr-nbl.svg");
  background-size: cover;
}
.mcard #inspection {
  background-image: url("/assets/bg/bg-gr-gld-yel.svg");
  background-size: cover;
  padding: 0 .5rem;
  margin: 2rem 0;
}
.mcard #inspectIcons img {
  min-height: 7rem;
  width: auto;
}
.mcard #inspectIcons, .inspectIcons2 {
  line-height: 0;
}
.inspectIcons2 img {
  min-height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
.inspectIcons2xs img {
  min-height: 1.125rem;
  width: auto;
  margin-right: 0.25rem;
  line-height: 0;
}
.mcard #inspectQuote {
  font-size: $font-lg;
  line-height: $primary-line-ht;
  font-style: $ital;
  color: $nblu;
}
.mat-card-content {
  margin-bottom: 0rem;
}
mat-card #inspection{
  margin:2rem 0;
}
#inspectSubTitle {
  color: $gold;
  font-size: $font-md;
}
#inspectP {
  color: $gold;
  font-weight: $medium;
  margin-bottom: 1rem;
}
#inspectBtn{
  color: $neon-aqua;
  border: 2px solid $white !important;
  padding-top: .125em;
}
.mat-card-actions {
  padding: .5rem 1rem;
}
.investprotect {
  //border: solid $neon-aqua;
  min-height: 7rem;
  border-radius: 16px;
  margin-bottom: 1rem;
  background-image: url("/assets/img/home/investment-invest-protection-umbrella.jpg");
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  h1 {
    text-align: center;
    vertical-align: middle;
    margin: 0rem auto;
    letter-spacing: .75rem;
    line-height: 2.25;
  }
}
.investprotectxs h1 {
  letter-spacing: .3125rem !important;
}
#investoverlay {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 3rem 1rem;
  height: 100%;
  width: 100%;
}

.mcard#productServiceList {
  background-image: url("/assets/bg/bg-gr-slate.svg");
  background-size: cover;
}
.mcard-header-img#productServiceAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-caution.png");
  margin-right: 1rem;
}
#safeCleanCard {
  margin:1rem;
  background-image: url("/assets/bg/bg-gr-slate.svg");
  background-size: cover;
}
#safeCleanTitle {
  color: $neon-aqua;

}
#safeCleanFooter {
  background-image: url("/assets/bg/bg-caution2.png");
  background-size: cover;
  padding: 1rem;
  margin-top: -1.25rem;
}
#why {
  background-image: url("/assets/bg/bg-gr-dbl-lbl.svg");
  background-size: cover;
}
#why-bgimg {
  width: calc(100% + 32px);
  margin: 0 -16px;
  padding: 0;
  background-image: url("/assets/img/home/church/church_roof_slate_shingle_architectural_kg_roofing_iowa_3524.jpg");
  background-position: center center;
  background-size: cover;
}
#why-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem 1rem;
}
#why-footer {
  padding: 2rem 3rem 1rem 3rem;
}



//<img [src]="itemImageUrl2">
//https://angular.io/guide/template-syntax#property-binding-or-interpolation
