<!-- mat carousel info: https://gsr.dev/material2-carousel/ -->
<mat-carousel
	timings="400ms ease-in"
	[autoplay]="true"
	interval="5000"
	color="accent"
	maxWidth="auto"
	proportion="50"
	slides="8"
	[loop]="true"
	[hideArrows]="false"
	[hideIndicators]="true"
	[useKeyboard]="true"
	[useMouseWheel]="false"
	orientation="ltr"
	[ngClass.xs]="['carouselxs']"
>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kyle_grell_kg_roofing_autumn_grell_family.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>Owners Kyle and Autumn, training tomorrow's roofers.</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_before.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>Flat Roof Owners: Find out your roof's condition.</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_after.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>...the satisfaction of having a good roof over your assets.</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_before.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>Call for a free inspection by a helpful professional.</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_after.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>
					Residential re-roof: Add value and peace of mind to your property.
				</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/home-carousel/kg-roofing-staging-safe-and-clean-work-area.jpg"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>KG Roofing: staging a safe and clean work area.</p>
			</div>
		</div>
	</mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		overlayColor="#00000040"
		[hideOverlay]="false"
		image="./../../assets/img/contact/kg_roofing_iowa_service_area.png"
	>
		<div class="carousel-caption-container">
			<div class="carousel-caption-bg">
				<p>KG Roofing's Service Area</p>
			</div>
		</div>
	</mat-carousel-slide>
</mat-carousel>

<!-- card: Roof Inspection -->
<mat-card id="inspect" class="mcard">
	<mat-card-header>
		<i mat-card-avatar class="mcard-header-img-48"></i>
		<mat-card-title>Protect Your Home or Business</mat-card-title>
		<mat-card-subtitle class="uppercase">
			Putting a roof over your head is the most important thing your home does
		</mat-card-subtitle>
	</mat-card-header>
	<img
		mat-card-image
		src="/assets/img/home/KG_Roofing_homeowner_residential_roof_repair_before.jpg"
		alt="KG Roofing photo of a homeowner's residential roof in need of repair: before"
	/>
	<div class="caption-wrap">
		<div class="caption-btm">
			Residential shingle roof - call to know your roof's condition.
		</div>
	</div>

	<div
		class="flex-container"
		fxLayout="row"
		fxLayout.lt-sm="column"
		fxLayoutAlign="space-between"
	>
		<div fxFlex.sm="55%" fxFlex.gt-sm="45%" fxLayoutAlign="stretch">
			<mat-card-content>
				<p>
					Knowing if your roof is sound is a homeowner's responsibility, yet many
					homeowners neglect their roofs. Like everything in your home, it requires
					maintenance.
				</p>
				<p>
					Maintaining your roof is a low-cost way of ensuring your home and family,
					employees or residents, all stay safe and comfortable.
				</p>
			</mat-card-content>
		</div>
		<div class="ml mr" fxFlex.sm="45%" fxflex.gt-sm="55%" fxLayoutAlign="center center">
			<mat-card
				id="inspection"
				fxLayout="row"
				fxLayoutAlign="start center"
				fxLayoutGap="16px"
			>
				<div id="inspectIcons" fxFlexAlign="center space-around">
					<img src="/assets/bg/bg-icons/vert6pk.svg" />
				</div>
				<div fxFlex>
					<p id="inspectQuote">
						If you haven't had your roof inspected recently, we're here to help.
					</p>
				</div>
			</mat-card>
		</div>
	</div>

	<img
		mat-card-image
		src="/assets/img/home/KG_Roofing_commercial_flat_roof_EPDM_in_need_of_inspection.jpg"
		alt="KG Roofing photo of a commercial business' flat roof in need of inspection and repair: before"
	/>
	<div class="caption-wrap">
		<div class="caption-btm">
			Commercial flat roof in need of inspection and repair
		</div>
	</div>
	<div
		class="pt pb"
		fxLayout.gt-xs="row"
		fxLayout.xs="column"
		fxLayoutAlign="space-between center"
		fxLayoutGap.sm="16px"
		fxLayoutGap.gt-sm="48px"
	>
		<mat-card-content fxFlex.sm="40%" fxFlex.gt-sm="50%" fxFlexAlign="start">
			<mat-card-subtitle id="inspectSubTitle" fxFlexFill>
				MAKE THE BEST FINANCIAL DECISION
			</mat-card-subtitle>

			<p>
				Since your home or business' buildings may be your most valuable investment, it's
				important to know what condition your roofs are in before an expensive failure
				occurs.
			</p>
			<p id="inspectP">
				Call us today if you'd like a free, professional inspection.
			</p>
		</mat-card-content>

		<div
			[ngClass.xs]="['investprotectxs']"
			class="investprotect ml mr mt"
			fxFlex.gt-sm="50%"
			fxFlexAlign="stretch"
		>
			<div id="investoverlay">
				<h1 class="bld shd gold">Invest in your investment.</h1>
			</div>
		</div>
	</div>
	<!-- experiment with service / interface -->
	<!-- 	<mat-card-content>
		<usertable></usertable>
	</mat-card-content> -->
	<mat-divider></mat-divider>
	<mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
		<div
			[ngClass.xs]="{ inspectIcons2xs: true, inspectIcons2: false }"
			class="inspectIcons2"
			fxLayout.gt-xs="row"
			fxLayout.lt-sm="column"
			fxLayoutGap.gt-xs="1.5rem"
			fxLayoutGap.lt-sm=".75rem"
		>
			<img src="/assets/bg/bg-icons/bg-icons-inspection-row1.svg" />
			<img src="/assets/bg/bg-icons/bg-icons-inspection-row2.svg" />
		</div>
		<!-- <span class="spacer">&nbsp;</span> -->
		<div class="mla" fxFlexAlign="center end">
			<a
				fxFlexAlign="center end"
				routerLinkActive="active"
				[routerLink]="['/contact']"
				id="inspectBtn"
				mat-stroked-button
				>&nbsp;&nbsp; CALL US &nbsp;&nbsp;
			</a>
		</div>
	</mat-card-actions>
</mat-card>

<!--card: Products & Services List-->
<mat-card appearance="outlined" id="productServiceList" class="mcard">
	<mat-card-header>
		<i mat-card-avatar id="productServiceAvatar" class="mcard-header-img"></i>
		<mat-card-title class="orange">Products & Services</mat-card-title>
		<mat-card-subtitle>
			WE'VE GOT ALL YOUR ROOFING NEEDS COVERED
		</mat-card-subtitle>
	</mat-card-header>

	<img
		mat-card-image
		src="/assets/img/home/kg-roofing-staging-safe-and-clean-work-area.jpg"
		alt="KG Roofing worksite: clean, safe, organized; Build materials are staged, safety perimeter is set"
	/>
	<div class="caption-wrap">
		<div class="caption-btm">
			KGR worksite: clean, safe, organized; Build materials are staged, safety perimeter
			is set.
		</div>
	</div>
	<mat-card-content class="pt2 pb2">
		<mat-list>
			<mat-divider></mat-divider>
			<mat-list-item
				class="lbf"
				*ngFor="let productService of productServices; last as isLast"
				[ngClass.xs]="['mat-list-pad-xs']"
			>
				<mat-icon class="orange" matListItemIcon>stars</mat-icon>
				<p class="nmt nmb hpt hpb" matListItemTitle>
					<span> {{ productService.name }} </span>
					<span class="orange"> {{ productService.acronym }} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>

	<img
		mat-card-image
		src="/assets/img/home/kg_roofing_safety_perimeter.jpg"
		alt="KG Roofing worksite with safety provisions on the roof"
	/>
	<div class="caption-wrap">
		<div class="caption-btm">
			Worksite with safety perimeter on the roof
		</div>
	</div>
	<mat-card-footer id="safeCleanFooter">
		<mat-card appearance="outlined" id="safeCleanCard" [class.mat-elevation-z8]>
			<mat-card-content>
				<mat-card-title class="obl" id="safeCleanTitle">SAFE and CLEAN</mat-card-title>
				<mat-divider></mat-divider>

				<p class="obl">
					<span class="goldBold">We take <u>job site safety</u> seriously: </span>
					&nbsp; for our crew and yours.
				</p>
				<p class="obl">
					<span class="goldBold">We run a <u>clean worksite</u>: </span>
					&nbsp; nail and debris problems are <u>not</u> the legacy we want to leave
					behind, so we take every precaution.
				</p>
			</mat-card-content>
		</mat-card>
	</mat-card-footer>
</mat-card>

<!--card: Why KG Roofing-->
<mat-card id="why" class="mcard">
	<mat-card-header>
		<i mat-card-avatar class="mcard-header-img"></i>
		<mat-card-title>
			Why KG Roofing?
		</mat-card-title>
		<mat-card-subtitle class="neonAqua">
			Serving Iowa's Commercial & Residential Roofing Needs
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div id="why-bgimg">
			<div id="why-overlay" class="caption-wrap">
				<mat-list class="mt2">
					<mat-divider></mat-divider>
					<mat-list-item
						class="lbf"
						*ngFor="let whyKG of whyKGs"
						[ngClass.xs]="['mat-list-pad-xs']"
					>
						<mat-icon class="white" matListItemIcon>stars</mat-icon>
						<p matListItemTitle>
							<span class="goldBold"> {{ whyKG.why }} </span>
							<span> {{ whyKG.description }} </span>
						</p>
						<mat-divider></mat-divider>
					</mat-list-item>
					<mat-divider></mat-divider>
				</mat-list>
				<div class="caption-btm-div">
					Background image: Roofing a large church with proper safety gear and
					professional-grade equipment
				</div>
			</div>
		</div>
	</mat-card-content>
	<mat-card-footer>
		<mat-divider></mat-divider>
		<mat-card-content id="why-footer">
			<span class="spacer">&nbsp;</span>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions
			fxLayout="row"
			fxLayoutAlign="space-between center"
			fxLayoutGap="32px"
		>
			<h2 class="ml mr2 nmt nmb" fxFlexAlign="start center">
				Learn more
				<a class="nodec" [routerLink]="['/about']">
					<span class="neonAqua">ABOUT </span>
				</a>
				KG Roofing &nbsp;&rarr;
			</h2>
			<div fxFlexAlign="end center">
				<a
					class="pl2 pr2"
					routerLinkActive="active"
					[routerLink]="['/about']"
					id="inspectBtn"
					mat-stroked-button
					>ABOUT&nbsp;US
				</a>
			</div>
		</mat-card-actions>
	</mat-card-footer>
</mat-card>
