@import '../../../styles/styles';

.mcard#inspect {
  background-image: url("/assets/bg/bg-gr-nbl-ltr-nbl.svg");
  background-size: cover;
}
.mcard #inspection {
  background-image: url("/assets/bg/bg-gr-gld-yel.svg");
  background-size: cover;
  padding: 0 .5rem;
  margin: 1rem 0;
}
.mcard #inspectIcons img {
  min-height: 7rem;
  width: auto;
}
.mcard #inspectIcons, #inspectIcons2 {
  line-height: 0;
}
#inspectIcons2 img {
  min-height: 1.5rem;
  width: auto;
}
.mcard #inspectQuote {
  font-size: $font-lg;
  line-height: $primary-line-ht;
  font-style: $ital;
  color: $nblu;
}
.mat-card-content {
  margin-bottom: 0rem;
}
#inspectSubTitle {
  color: $gold;
  font-size: $font-md;
}
#inspectP {
  color: $gold;
  font-weight: $medium;
  margin-bottom: 1rem;
}
#inspectBtn{
  color: $neon-aqua;
  border: 2px solid $white !important;
  padding-top: .125em;
}
.mat-card-actions {
  padding: .5rem 1rem;
}
.mcard#productServiceList {
  background-image: url("/assets/bg/bg-gr-slate.svg");
  background-size: cover;
}
.mcard-header-img#productServiceAvatar {
  background-image: url("/assets/bg/bg-icons/bg-icons-caution.png");
  margin-right: 1rem;
}
#safeCleanCard {
  margin:1rem;
  background-image: url("/assets/bg/bg-gr-slate.svg");
  background-size: cover;
}
#safeCleanTitle {
  color: $neon-aqua;

}
#safeCleanFooter {
  background-image: url("/assets/bg/bg-caution2.png");
  background-size: cover;
  padding: 1rem;
}
//<img [src]="itemImageUrl2">
//https://angular.io/guide/template-syntax#property-binding-or-interpolation
