<mat-carousel
	timings="400ms ease-in"
	[autoplay]="true"
	interval="5000"
	color="accent"
	maxWidth="auto"
	proportion="50"
	slides="6"
	[loop]="true"
	[hideArrows]="false"
	[hideIndicators]="false"
	[useKeyboard]="true"
	[useMouseWheel]="false"
	orientation="ltr"
>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_flat_roof_after.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_after.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		#matCarouselSlide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_before.jpg"
	></mat-carousel-slide>
	<mat-carousel-slide
		image="./../../assets/img/home-carousel/kg_roofing_residential_shingles_after.jpg"
	></mat-carousel-slide>
</mat-carousel>

<mat-card id="inspect" class="mcard">
	<mat-card-header>
		<i mat-card-avatar class="mcard-header-img"></i>
		<mat-card-title>Protect Your Home or Business</mat-card-title>
		<mat-card-subtitle
			>​PUTTING A ROOF OVER YOUR HEAD IS THE MOST IMPORTANT THING YOUR HOME
			DOES</mat-card-subtitle
		>
	</mat-card-header>
	<img
		mat-card-image
		src="/assets/img/home/KG_Roofing_homeowner_residential_roof_repair_before.jpg"
		alt="KG Roofing photo of a homeowner's residential roof in need of repair: before"
	/>
	<mat-card-content>
		<p>
			Knowing if your roof is sound is a homeowner's responsibility, yet many homeowners
			neglect their roofs. Like everything in your home, it requires maintenance.
		</p>
		<p>
			Maintaining your roof is a low-cost way of ensuring your home and family, employees
			or residents, all stay safe and comfortable.
		</p>
	</mat-card-content>
	<mat-card
		id="inspection"
		fxLayout="row"
		fxLayoutAlign="start center"
		fxLayoutGap="32px"
	>
		<mat-card-content id="inspectIcons" fxFlexAlign="start">
			<img src="/assets/bg/bg-icons/vert6pk.svg" />
		</mat-card-content>
		<mat-card-content fxFlex>
			<p id="inspectQuote">
				If you haven't had your roof inspected recently, we're here to help.
			</p>
		</mat-card-content>
	</mat-card>
	<img
		mat-card-image
		src="/assets/img/home/KG_Roofing_commercial_flat_roof_EPDM_in_need_of_inspection.jpg"
		alt="KG Roofing photo of a commercial business' flat roof in need of inspection and repair: before"
	/>
	<mat-card-subtitle id="inspectSubTitle">
		MAKE THE BEST FINANCIAL DECISION
	</mat-card-subtitle>
	<mat-card-content>
		<p>
			Since your home or business' buildings may be your most valuable investment, it's
			important to know what condition your roofs are in before an expensive failure
			occurs.
		</p>
		<p id="inspectionP">
			Call us today if you'd like a free, professional inspection.
		</p>
	</mat-card-content>

	<!--experiment with service / interface-->

	<!-- 	<mat-card-content>
		<usertable></usertable>
	</mat-card-content> -->
	<mat-divider></mat-divider>
	<mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
		<div
			fxLayout.gt-sm="row"
			fxLayout.lt-sm="column"
			fxLayoutGap="1.5rem"
			id="inspectIcons2"
		>
			<img src="/assets/bg/bg-icons/bg-icons-inspection-row1.svg" />
			<img src="/assets/bg/bg-icons/bg-icons-inspection-row2.svg" />
		</div>
		<span class="spacer">&nbsp;</span>
		<a
			routerLinkActive="active"
			[routerLink]="['/contact']"
			fxLayoutAlign="end center"
			id="inspectBtn"
			mat-stroked-button
			>&nbsp;&nbsp; CALL US &nbsp;&nbsp;
		</a>
	</mat-card-actions>
</mat-card>
