<!--card: About-->
<div>
	<mat-card id="contactKGR" class="mcard">
		<mat-card-header>
			<i mat-card-avatar id="contactKGRAvatar" class="mcard-header-img"></i>
			<mat-card-title class="display-3">Contact KG Roofing</mat-card-title>
			<mat-card-subtitle>
				<h3 class="obl">Serving Your Commercial & Residential Roofing Needs</h3>
			</mat-card-subtitle>
		</mat-card-header>
		<div class="caption-wrap">
			<img
				class="nmb npb"
				mat-card-image
				src="/assets/img/contact/kg_roofing_iowa_safe_roof_inspection_ladders.jpg"
				alt="KG Roofing's safe and free rooftop inspection worksite with work truck in foreground and commercial building 2-tier roof and ladders in background with safety markers around roof perimeter."
			/>
			<div class="caption-btm caption-btm-zero">
				Call for safe, free rooftop inspections.
			</div>
		</div>
		<!--text-->
		<mat-card-content id="contactKGRCard">
			<div
				class="flex-container"
				fxLayout="row"
				fxLayout.xs="column"
				fxLayoutGap="16px"
				fxLayoutAlign="space-between"
			>
				<div fxFlex>
					<mat-card id="contactKGRstory">
						<!--contact info1-->
						<div id="sub">
							<mat-card-title>
								Phone
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo nodec">
							Talk with a Roofing Professional
						</mat-card-title>
						<mat-card-subtitle class="subthree nodec"> 515-955-2061 </mat-card-subtitle>
						<!--contact info2-->
						<div id="sub">
							<mat-card-title>
								Location
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo nodec">
							KG Roofing, LLC
						</mat-card-title>
						<mat-card-subtitle class="subthree nodec">
							2578 150th Street,
						</mat-card-subtitle>
						<mat-card-subtitle class="subthree nodec">
							Fort Dodge, IA 50501
						</mat-card-subtitle>
						<!--contact info3-->
						<div id="sub">
							<mat-card-title>
								Service Area:
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo nodec">
							Greater Iowa
						</mat-card-title>
						<!--form-->
						<!-- 
						<mat-card-content>
							<mat-form-field appearance="outline">
								<mat-label>Phone number</mat-label>
								<input-phone required></input-phone>
								<mat-icon matSuffix>phone</mat-icon>
								<mat-hint>Include area code</mat-hint>
							</mat-form-field>
							<div formGroupName="profileForm">
								<h3>Address</h3>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>Street</mat-label>
										<input matInput formControlName="street" placeholder="Street" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>City</mat-label>
										<input matInput formControlName="city" placeholder="City" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>State</mat-label>
										<input matInput formControlName="state" placeholder="State" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>Zip Code</mat-label>
										<input matInput formControlName="zip" placeholder="Zip Code" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>Form Status: {{ profileForm.status }}</p>
								<p>
									<button type="submit" [disabled]="!profileForm.valid">Submit</button>
								</p>
							</div>
						</mat-card-content>
 -->
						<div class="caption-wrap">
							<img
								mat-card-image
								src="/assets/img/contact/kg_roofing_iowa_service_area.png"
								alt="KG Roofing territory and preferred service area, with epicenter in Fort Dodge, Iowa. Call us if you are wondering if your building is in our area."
							/>
							<div class="caption-btm">
								KGR approx. service area
							</div>
						</div>
					</mat-card>
				</div>
			</div>
		</mat-card-content>
		<!--footer-->
		<mat-card-footer id="contactFooter">
			<span class="spacer">&nbsp;</span>
		</mat-card-footer>
	</mat-card>
</div>
