@use '@angular/material' as mat;
@import '../../../styles/styles';

.mcard#contactKGR {
  background-image: url("/assets/bg/bg-gr-rbl-ltr.svg");
  background-size: contain;
  background-position: top;
}
.mcard-header-img#contactKGRAvatar {
  background-image: url("/assets/branding/KG_Roofing_logo_RND1.svg");
  margin-right: 1rem;
}
#contactKGRCard {
  padding: 1rem;
  background-image: url("/assets/bg/bg-gr-dbl-lbl2.svg");
  background-position: center center;
  background-size: cover;
  word-break: break-word;
  overflow-wrap: break-word;

  div #sub {
    border-bottom: solid;
    mat-card-title {
      @include mat.typography-level($custom-typography, 'headline-4');
      padding: 1rem 1rem 0rem 1.5rem; 
      color: $gold; 
    }
  }

  mat-card-title.subtwo {
    @include mat.typography-level($custom-typography, 'headline-5');
    padding: 1rem 0rem 0rem 1.5rem; 
    color: $blu3; 
  }

  mat-card-subtitle.subthree {
    @include mat.typography-level($custom-typography, 'headline-5');
    padding: 0.5rem 1rem 0rem 1.5rem;
    color: white;
  }
}
#contactKGRstory {
  padding: 0px;
  background-color: transparent;
  border: solid $white;

  mat-card-subtitle {
    color: $neon-aqua;
  }
}


// phone input masking
// https://material.angular.io/components/form-field/examples
.example-tel-input-container {
  display: flex;
}

.example-tel-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

.example-tel-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
}

:host.example-floating .example-tel-input-spacer {
  opacity: 1;
}