<!--card: About-->
<div>
	<mat-card id="contactKGR" class="mcard">
		<mat-card-header>
			<i mat-card-avatar id="contactKGRAvatar" class="mcard-header-img"></i>
			<mat-card-title class="display-3">About KG Roofing</mat-card-title>
			<mat-card-subtitle>
				<h3 class="obl">Serving Your Commercial & Residential Roofing Needs</h3>
			</mat-card-subtitle>
		</mat-card-header>
		<div class="caption-wrap">
			<img
				mat-card-image
				src="/assets/img/contact/kg_roofing_iowa_safe_roof_inspection_ladders.jpg"
				alt="KG Roofing's safe and free rooftop inspection worksite with work truck in foreground and commercial building 2-tier roof and ladders in background with safety markers around roof perimeter."
			/>
			<div class="caption-btm">
				Call for safe, free rooftop inspections.
			</div>
		</div>
		<!--text-->
		<mat-card-content>
			<div
				class="flex-container"
				fxLayout="row"
				fxLayout.xs="column"
				fxLayoutGap="16px"
				fxLayoutAlign="space-between"
			>
				<div fxFlex.gt-xs="60%" fxLayoutAlign="stretch">
					<mat-card id="contactKGRstory">
						<mat-card-title>
							Origins
						</mat-card-title>
						<mat-card-subtitle>
							Raised On Roofing
						</mat-card-subtitle>
						<mat-card-content>
							<p>
								KG Roofing is named after owner Kyle Grell. Kyle spent years learning the
								roofing trades while working for a family business, eventually deciding to
								start his own venture.
							</p>
							<mat-card-subtitle>
								Experience
							</mat-card-subtitle>
							<p>
								KG Roofing has the expertise to seam-weld membranes on an enormous factory
								roof one day, then turn around a single-family tear off & re-shingle the
								next. This versatility comes with professionalism; meaning KG works hard,
								safely, and runs a tidy worksite with cleanup.
							</p>
							<mat-card-subtitle>
								Professionalism
							</mat-card-subtitle>
							<p>
								This professionalism extends to working with customers: from understanding
								what the job requires, to ensuring it's all done to satisfaction.
							</p>
						</mat-card-content>
						<div class="caption-wrap">
							<img
								mat-card-image
								src="/assets/img/contact/kg_roofing_iowa_service_area.png"
								alt="KG Roofing territory and preferred service area, with epicenter in Fort Dodge, Iowa. Call us if you are wondering if your building is in our area."
							/>
							<div class="caption-btm">
								KGR approx. service area
							</div>
						</div>
					</mat-card>
				</div>
			</div>
		</mat-card-content>
		<!--footer-->
		<mat-card-footer>
			<span class="spacer">&nbsp;</span>
		</mat-card-footer>
	</mat-card>
</div>
