<!--card: About-->
<div>
	<mat-card id="contactKGR" class="mcard">
		<mat-card-header>
			<i mat-card-avatar id="contactKGRAvatar" class="mcard-header-img"></i>
			<mat-card-title class="display-3">Contact KG Roofing</mat-card-title>
			<mat-card-subtitle>
				<h3 class="obl">Serving Your Commercial & Residential Roofing Needs</h3>
			</mat-card-subtitle>
		</mat-card-header>
		<div class="caption-wrap">
			<img
				class="nmb npb"
				mat-card-image
				src="/assets/img/contact/kg_roofing_iowa_safe_roof_inspection_ladders.jpg"
				alt="KG Roofing's safe and free rooftop inspection worksite with work truck in foreground and commercial building 2-tier roof and ladders in background with safety markers around roof perimeter."
			/>
			<div class="caption-btm caption-btm-zero">
				Call for safe, free rooftop inspections.
			</div>
		</div>
		<!--contact info group-->
		<mat-card-content id="contactKGRCard">
			<div
				class="flex-container"
				fxLayout="column"
				fxLayoutGap="16px"
				fxFlexAlign="start"
			>
				<!--contact info-->
				<div fxFlex="100">
					<mat-card id="contactKGRstory">
						<!--contact info1-->
						<div id="sub">
							<mat-card-title>
								Phone
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo">
							Talk with a Roofing Professional
						</mat-card-title>
						<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
							<div fxFlex.gt-sm="50">
								<mat-card-subtitle class="subthree">
									<a class="nodec" href="tel:+15159552061">
										(515) <span class="nobrk">955-2061</span>
									</a>
								</mat-card-subtitle>
							</div>

							<div class="mla mr2">
								<a button mat-fab color="warn" href="tel:+15159552061">
									<mat-icon>phone</mat-icon>
								</a>
							</div>
						</div>
						<div class="pb2"></div>
					</mat-card>
				</div>

				<div fxFlex="100">
					<mat-card id="contactKGRstory">
						<!--contact info1-->
						<div id="sub">
							<mat-card-title>
								Email
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo">
							Send text & images
						</mat-card-title>
						<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
							<div fxFlex.gt-sm="50">
								<mat-card-subtitle class="subthree">
									<a class="nodec" href="mailto:kgroofingiowa@yahoo.com"
										>kgroofingiowa @ yahoo.com</a
									>
								</mat-card-subtitle>
							</div>

							<div class="mla mr2">
								<a button mat-fab color="warn" href="mailto:kgroofingiowa@yahoo.com">
									<mat-icon>email</mat-icon>
								</a>
							</div>
						</div>
						<div class="pb2"></div>
					</mat-card>
				</div>

				<div fxFlex="100">
					<mat-card id="contactKGRstory">
						<!--contact info3-->
						<div id="sub">
							<mat-card-title>
								Location
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo">
							KG Roofing, LLC
						</mat-card-title>
						<mat-card-subtitle class="subthree">
							2578 150th Street,
						</mat-card-subtitle>
						<mat-card-subtitle class="subthree">
							Fort Dodge, IA 50501
						</mat-card-subtitle>
						<div class="pb2"></div>
					</mat-card>
				</div>
				<!--
				<div fxFlex.gt-xs="50%" fxLayoutAlign="end stretch">
					<mat-card id="contactKGRstory">
						<mat-card-content>
							<mat-form-field appearance="outline">
								<mat-label>Phone number</mat-label>
								<input-phone required></input-phone>
								<mat-icon matSuffix>phone</mat-icon>
								<mat-hint>Include area code</mat-hint>
							</mat-form-field>
							<div formGroupName="profileForm">
								<h3>Address</h3>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>Street</mat-label>
										<input matInput formControlName="street" placeholder="Street" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>City</mat-label>
										<input matInput formControlName="city" placeholder="City" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>State</mat-label>
										<input matInput formControlName="state" placeholder="State" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>
									<mat-form-field appearance="outline">
										<mat-label>Zip Code</mat-label>
										<input matInput formControlName="zip" placeholder="Zip Code" />
										<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
										<mat-hint>Hint</mat-hint>
									</mat-form-field>
								</p>
								<p>Form Status: {{ profileForm.status }}</p>
								<p>
									<button type="submit" [disabled]="!profileForm.valid">Submit</button>
								</p>
							</div>
						</mat-card-content>
					</mat-card>
				</div>			-->
			</div>

			<!--map-->
			<div fxFlexLayout="column" class="mt">
				<div fxFlex="100">
					<mat-card id="contactKGRstory">
						<!--contact info3-->
						<div id="sub">
							<mat-card-title>
								Service Area:
							</mat-card-title>
						</div>
						<mat-card-title class="subtwo">
							Greater Iowa
						</mat-card-title>
						<div class="pb2"></div>
						<!--form-->
						<div class="mat-card-btm-img-nm">
							<div class="caption-wrap">
								<img
									mat-card-image
									src="/assets/img/contact/kg_roofing_iowa_service_area.png"
									alt="KG Roofing territory and preferred service area, with epicenter in Fort Dodge, Iowa. Call us if you are wondering if your building is in our area."
								/>
								<div class="caption-btm caption-btm-zero">
									KGR approx. service area
								</div>
							</div>
						</div>
					</mat-card>
				</div>
			</div>
		</mat-card-content>
		<!--footer-->
		<mat-card-footer id="contactFooter">
			<span class="spacer">&nbsp;</span>
		</mat-card-footer>
	</mat-card>
</div>
