html,
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;

	* {
		box-sizing: inherit;
	}
}

app-root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

app-routing {
	flex: 1;
}

// button large radius
@mixin angular-button-large-radius {
	.mat-raised-button,
	.mat-stroked-button,
	.mat-flat-button {
		border-radius: 45px;
	}
}

// mat-list wrap
.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.mat-list .mat-list-item {
  height:initial !important;
} 
mat-list.mat-list.mat-list-base {
	margin-bottom: 2rem;
}
.mat-list-base {
	padding-top: 0;
}

// colorful
.goldBold {
	color: $gold;
	font-weight: $bold;
}
.gold {
	color: $gold;
}
.orange {
	color: $orange;
}
.neonAqua {
	color: $neon-aqua;
}
.nblu {
	color: $nblu;
}
.white {
	color: $white
}

