html,
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;

	* {
		box-sizing: inherit;
	}
}

app-root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

app-routing {
	flex: 1;
}
// loader spinner 
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(50% - 50px);
  transform: translateY(-50%);
}

.loader:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// button large radius
@mixin angular-button-large-radius {
	.mat-raised-button,
	.mat-stroked-button,
	.mat-flat-button {
		border-radius: 45px;
	}
}

// mat-list wrap
.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.mat-list .mat-list-item {
  height:initial !important;
} 
mat-list.mat-list.mat-list-base {
	margin-bottom: 2rem;
}
.mat-list-base {
	padding-top: 0;
}

// colorful
.goldBold {
	color: $gold;
	font-weight: $bold;
}
.gold {
	color: $gold;
}
.orange {
	color: $orange;
}
.neonAqua {
	color: $neon-aqua;
}
.nblu {
	color: $nblu;
}
.blu {
	color: $blue;
}
.blu2 {
	color: $blu2;
}
.blu3 {
	color: $blu3;
}
.white {
	color: $white
}
// background: clear
.bgclr {
	background-color: transparent;
}

