// LAYOUTS

// Container styles
.container {
  display: block;
  margin: 0 auto;
  padding: 0 $pad;
  max-width: 1080px;
}

// Mat-Card Styles
.mcard {
  max-width: 400px;
}

.mcard-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


// Footer Styles
footer {
  background: $blue;
  color: $red;
  padding: $pad * 2;
}
