// LAYOUTS

// Container styles
.container {
  display: block;
  margin: 0 auto;
  padding: 0 $pad;
  max-width: 1080px;
}

// Footer Styles
footer {
  background: $blue;
  color: $red;
  padding: $pad * 2;
}
