// LAYOUTS
@use '@angular/material' as mat;
@import 'typography.scss';
// Toolbar
.position-fixed {
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 70;
}

//FLEX BOX
// // Flexbox Spacer Span
.spacer {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}
// ideas from https://tobiasahlin.com/blog/flexbox-break-to-new-row/
.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.fxBreakRow {
  flex-basis: 100%;
  height: 0;
}

// Container styles
.content {
  margin: 0 auto;
  max-width: 1024px;
}
.ctr-lg-max-container{
  max-width: 1024px;
  margin: 0 auto;
}

// Carousel
.carousel {
  margin-bottom: 1rem;
}
.carousel-slide-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.carouselxs {
  p {
    margin-bottom: .25rem !important;
    line-height: 1rem;
    @include mat.typography-level($custom-body-typography, caption);

  }
}

// Mat-Card Styles
.mcard {
  height: 100% auto;
  margin-bottom: 2rem;
  overflow: hidden;
}
mat-icon.mat-card-avatar {
  width: 96px;
  height: 96px;
  font-size: 96px;
}
.mcard-header-img {
  width: 96px;
  height: 96px;
  font-size: 96px;
  background-image: url("/assets/branding/KG_Roofing_logo_RND2.svg");
  background-size: cover;
  z-index: 10;
  box-shadow: 0 .25rem 1.25rem 0 #777777;
}
.mcard-header-img-48 {
  width: 48px;
  height: 48px;
  font-size: 48px;
  background-image: url("/assets/branding/better-business-bureau/round-bbb_180px.png");
  background-size: cover;
  z-index: 10;
  box-shadow: 0 .25rem 1.25rem 0 #777777;
  margin-bottom: 2.5rem;
}

.mat-card-header {
  margin-bottom: -1.0rem;
}
.mat-card-image {
  @extend .mat-card-image;
  margin-bottom: 0rem;
}
.mat-card-image:first-child {
  margin-top: 0;
}
.mat-card-image:last-child {
  margin-bottom: 0;
}

// img captions

  .caption-wrap {  
    position: relative;
    width: calc(100% + 0px);
    margin: -0.25rem 0rem;
    padding: 0px;
    .caption {        
      @include mat.typography-level($custom-body-typography, caption); 
      position: absolute;
      width: calc(100% + 32px);
      margin: .25rem -1rem; 
      padding: 0.25rem 0.5rem;
      //font-size: $primary-fs;  
      //font-weight: $light;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.45);
      z-index: 2;
    }
    .caption-btm { 
      @extend .caption;
      bottom: 0rem;
    }
    .caption-btm-zero {
      @extend .caption;
      bottom: -1.75rem;
    }
    .caption-top {
      @extend .caption;
      top: 0rem;
    }
    .caption-top-zero {
      @extend .caption;
      top: -2rem;
    }
    // when captioning a non mat-img divs
    .caption-btm-div { 
      @extend .caption;
      bottom: 1rem;
      width: calc(100% + 0px);
      margin: 0 -16px -16px -16px; 
    }
  }


// Footer Styles
footer {
  background-image:  url("/assets/bg/bg-gr-dbl-lbl2.svg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0;

}
footer mat-toolbar {
  background-color: transparent;  
  font-size: 16px;

}
footer mat-toolbar-row.mat-toolbar-row {
  background: none;
  background-color: transparent;
  height: auto;
}
footer .mat-list-item-content {
  font-size: $primary-fs;
  padding: 0 1.5*$pad;
}
footer .mat-toolbar a  {
  color: inherit;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}
footer p {
  margin-top: 0;
}
footer mat-toolbar p {
  @include mat.typography-level($custom-body-typography, body-1);
}

.xsp { 
  mat-toolbar p {
    @include mat.typography-level($custom-body-typography, caption);
  }
}

// MARGIN & PADDING helpers
// // // NO PADDING
.np {
  padding: 0 !important;
}
.npl {
  padding-left: 0 !important;
}
.npr {
  padding-right: 0 !important;
}
.npt {
  padding-top: 0 !important;
}
.npb {
  padding-bottom: 0 !important;
}
// // // PADDING
.pt {
  padding-top: $pad;
}
.pt2 {
  padding-top: 2 * $pad;
}
.pb {
  padding-bottom: $pad;
}
.pb2 {
  padding-bottom: 2 * $pad;
}
.pl {
  padding-left: $pad;
}
.pl2 {
  padding-left: 2 * $pad;
}
.pr {
  padding-right: $pad;
}
.pr2 {
  padding-right: 2 * $pad;
}
// // MARGIN helpers
// // // NO MARGIN
.nm {
  margin: 0 !important;
}
.nml {
  margin-left: 0 !important;
}
.nmr {
  margin-right: 0 !important;
}
.nmt {
  margin-top: 0 !important;
}
.nmb {
  margin-bottom: 0 !important;
}
// // // MARGIN
.mr {
  margin-right: $pad;
}
.mr2 {
  margin-right: 2 * $pad;
}
.mra {
  margin-right: auto !important;
}
.ml {
  margin-left: $pad;
}
.ml2 {
  margin-left: 2 * $pad;
}
.mla {
  margin-left: auto !important;
}
.mt {
  margin-top: $pad;
}
.mt2 {
  margin-top: 2 * $pad;
}
.mb {
  margin-bottom: $pad;
}
.mb2 {
  margin-bottom: 2 * $pad;
}
// LINE Helpers
.lb {
  border-bottom: solid;
}
.lt {
  border-top: solid;
}
.ll {
  border-left: solid;
}
.lr {
  border-right: solid;
}