// https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Be sure that you only ever include this mixin once!
@include mat-core();
// Material Design palettes available in palette.scss
// https://material.io/design/color/
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-orange, A100, A200, A400);
$warn: mat-palette($mat-pink);
// Create the theme object (Sass map containing all palettes).
$theme: mat-dark-theme($primary, $accent, $warn);
// Include theme styles for core and each component used in your app.
// Alternatively, import and @include mixins for each component.

@include angular-material-theme($theme);
// @mixin for "mat-color" hue shifts, like "color: mat-color($primary, lighter);
@mixin theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
}
// Include the alternative theme styles inside block with CSS class.
// any component inside of an element with `.light-theme` will be affected by this alternate light theme instead of the default theme.
.theme-light {
color: $dark-primary-text;
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-amber, A200, A100, A400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);


	@include angular-material-theme($light-theme);
}
// for more on dark mode switch
// https://github.com/eTallang/theme-demo

// Alternate colors
$special-primary: mat-palette($mat-teal, 700, 100, 800);
$special-accent: mat-palette($mat-orange, 700, 100, 800);
$special-theme: mat-dark-theme($special-primary, $special-accent);

.theme-special {
	@include angular-material-theme($special-theme);
}
