/**
 * TYPOGRAPHY
 */

// font stacks
%primary-font-fam {
  font-family: $primary-font, "Helvetica Neue", sans-serif;
}
%title-font-fam {
  font-family: $title-font, Impact, "Franklin Gothic Bold", sans-serif;
}

// font styles for main elements
body {
  @extend %primary-font-fam;

  font-size: $primary-fs;
  font-weight: $regular;
}

p {
  margin-bottom: $pad;
  line-height: $primary-line-ht;
}

// Header Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title-font-fam;

  font-weight: $bold;
  margin: 0;
  margin-bottom: $pad/2;
  line-height: $title-line-ht;

  a {
    font-weight: inherit;
  }
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bold; }
.uppercase { text-transform: uppercase; }

/** html {
  font-family: $sansSerif, sans-serif;
  font-weight: normal;
  color: $black;
  line-height: $baseLineHeight;
  font-size: 14px;

  @media only screen and (min-width: $smallBreakpoint) {
    font-size: 15px;
  }

  @media only screen and (min-width: $largeBreakpoint) {
    font-size: $baseFontSize;
  }
}
*/
