/**
**** VARIABLES ****
*/

// font-style
$norm: normal;
$ital: italic;
$obli: oblique;

// font-variant
$title-case: titling-caps;
$sm-caps: small-caps;
$ligs: common-ligatures;
$zero: slashed-zero;

// font-weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;

// font-size
$font-xs: 0.5em;
$font-sm: 0.75em;
$primary-fs: 1em;
$font-md: 1.25em;
$font-lg: 1.5em;
$fine-print: 0.375em;

// line-height
$root-size: 16px;
$primary-line-ht: 1.75;
$title-line-ht: 1.5;

// font-family
$primary-font: 'Roboto';
$title-font: 'Roboto Condensed';

// Heading size
$h1:3em;
$h2:2.5em;
$h3:2em;
$h4:1.5em;
$h5:0.875em;
$h6:0.625em;

// Spacing
$pad:1rem;

// Colors
$bg-dark: #121212;
$red: #b91d47;
$white: #fff;
$blue: #1976d2;
$nblu: #171696;
$gold: #f2c94c;
$neon-aqua: #00ffff;
$orange: #f2994a;

// No Decoration
.nodec {
  text-decoration: none;
}


// Breakpoints
// $smallBreakpoint : 600px;
// $largeBreakpoint : 1080px;


